.setting {
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}

.setting-setting {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  transition: 0.4s all ease-out;
}

.setting-setting i {
  color: rgb(51, 51, 51);
}

.setting-setting span {
  font-size: 20px;
  transition: 0.2s all;
  font-weight: 900;
}

.setting-setting-title-false {
  color: white;
}

.setting-setting-title-true {
  color: rgb(51, 51, 51);
}

.setting-setting-shadow {
  box-shadow: 0px 2px 6px -6px #666;
}

.setting-profile {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.setting-profile-icon-name {
  color: rgb(51, 51, 51);
  display: flex;
  justify-self: center;
  align-items: center;
}

.setting-profile-icon {
  width: 40px;
  margin-right: 15px;
}

.setting-profile-name {
  font-size: 20px;
  font-weight: 800;
}

.setting-profile-set {
  padding: 10px 15px;
  background-color: #f2f3f7;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.25s all ease-in-out;
}

.setting-profile-set:active {
  color: rgb(51, 51, 51);
}

.setting-profile-set:active {
  background-color: #e8e8ea;
}

.setting-menu {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
}

.setting-menu-title-element {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #f5f6f8;
}

.setting-menu-title {
  padding: 0px 15px;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 15px;
  color: rgb(51, 51, 51);
}

.setting-menu-element {
  font-size: 16px;
  font-weight: 600;
}

.setting-menu-element-icon {
  padding: 5px 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.25s all ease-in-out;
}
.setting-menu-element-icon:active {
  color: rgb(51, 51, 51);
  background-color: #f2f3f7;
}

.setting-menu-element-icon i {
  margin-right: 10px;
}

.setting-pet-info {
  text-align: center;
  width: auto;
  padding: 15px;
  border: 1px solid #f5f6f8;
  margin: 0px 15px;
  background-color: #f2f3f7;
  color: #737373;
  border-radius: 10px;
}
