:root {
  --main-color: #569bf6;
}

body {
  position: relative;
}

.main-frame-routes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.page {
  position: absolute;

  width: 100vw;
}
