.tabbar {
  z-index: 30;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e8e8ea;
}

.tabbar-element {
  flex-grow: 1;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.tabbar-element:active {
  background-color: #ffffff;
}

.tabbar-element-name {
  font-size: 13px;
}

.tabbar-element-icon {
  color: rgb(51, 51, 51);
}
