.react-calendar {
  width: 100%;
  font-family: "Noto Sans KR";
  font-weight: 800;
}
/* 현재 날짜 */
.react-calendar__tile--now {
  background: white;
  color: black;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: white;
  color: black;
}

/*요일*/
.react-calendar__month-view__weekdays {
  background: white;
  abbr {
    /*월,화,수... 글자 부분*/

    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 800;
  }
}

/*타일*/
.react-calendar__tile {
  color: black;
  background: white;
  text-align: center;
}

.selected-date {
  background-color: white !important;
  color: black !important;
}

.selected-date-apply {
  background-color: #569bf6 !important;
  color: white !important;
}

.react-calendar__tile--active:enabled:hover {
  background: #569bf6;
  color: white;
}

.unavailable-date {
  background-color: #ffcccc !important;
  color: #ff0000 !important;
}

.react-calendar__navigation__label {
  background-color: white;
}

.react-calendar__navigation__label > span {
  font-size: 20px;
  font-family: "Noto Sans KR";
  font-weight: 900;
}

.react-calendar__navigation__label {
  pointer-events: none;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
  color: red;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="토요일"] {
  color: blue;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background-color: #fafafa;
  color: #a0a0a0;
}

/* 오늘 날짜 폰트 컬러 */
/* .react-calendar__tile--now {
    background: none;
    abbr {
      color: ;
    }
  } */
