.pet {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pet img {
  width: 60%;
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.6) 15%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
}

.pet-content-span {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.pet-content-span h1 {
  font-size: 20px;
  font-weight: 800;
  color: rgb(17, 17, 17);
  margin-bottom: 15px;
}

.pet-content-span span {
  font-size: 13px;
  margin-bottom: 5px;
}

.pet-content-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.pet-content-box-element {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  width: 42%;
  height: calc(50vh - 120px);
  border-radius: 15px;
}

.pet-content-box-element span {
  white-space: normal;
  margin: 0px 15px;
  text-align: center;
  font-size: 12px;
  color: rgb(17, 17, 17);
  font-weight: 800;
}

.pet-content-box-element button {
  font-size: 15px;
  padding: 10px 20px;
  width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
}

.pet-content-box-element :nth-child(2) {
  border: 1px solid #569bf6;
  background-color: #569bf6;
  color: white;
}

.pet-content-box-element :last-child {
  border: 1px solid #ff4d4d;
  background-color: #ff4d4d;
  color: white;
}
