.pincheck {
  height: 100vh;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pincheck-title {
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
  font-weight: 900;
}

.pincheck-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
}

.pin-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.pin-dot.filled {
  background-color: #569bf6;
}

.pincheck-keypad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pincheck-keypad button {
  height: 60px;
  border: none;

  background-color: #569bf6;
  color: white;
}

.pincheck-keypad-number {
  font-size: 20px;
}

.pincheck-keypad-clear {
  font-size: 14px;
  grid-column: 1/1;
  grid-row: 4/4;
}

.pincheck-keypad-backspace {
  grid-column: 3/3;
  grid-row: 4/4;
}
