.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.community-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding-bottom: 20px;
  border-bottom: 3px solid #f4f4f5;
  background-color: #fff;
}

.community-element {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 5px;
}

.community-card-content-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.community-card-content {
  padding: 5px 5px;
  height: auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 30px 45px 30px;
  gap: 10px;
}

.community-card-content-img {
  grid-column: 5 / 5;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-card-content-title {
  display: flex;
  align-items: flex-start;
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 900;
}
.community-card-content-content {
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font-family: "Malgun Gothic", "맑은 고딕";

  line-height: 1.2;
  font-size: 13px;
  font-weight: 600;
  color: gray;
}

.community-card-content-writer_nickname {
  grid-column: 1 / 2;
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  font-size: 12px;
}

.community-card-content-likes {
  grid-column: 2 / 3;
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 12px;
}

.community-card-content-comment {
  grid-column: 3 / 4;
  grid-row: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  font-size: 12px;
}

.community-card-content-created_date {
  grid-column: 4 / 5;
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  font-size: 12px;
}

.community-card-content-views {
  grid-column: 5 / 6;
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 13px;
  font-size: 12px;
}
