.login {
  z-index: 1000;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 10px;
}

.login-center img:first-child {
  width: 100px;
  margin-bottom: 30px;
}

.login-center-title {
  font-size: 20px;
  font-weight: 900;
}

.kakao-login-img {
  margin-top: 50px;
}

.other-login {
  font-family: 500;
  margin-top: 40px;
  font-size: 11px;
  text-decoration: underline;
}
