.signup {
  background-color: white;
  width: 100%;
  z-index: 40;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.signup-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signup-center-title {
  font-size: 30px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 20px;
  color: black;
}

.signup-center-content {
  text-align: center;
  word-break: keep-all;
  padding: 0px 20px;
}

.signup-input-span {
  position: relative;
  margin-bottom: 20px;
}

.signup-input-span input {
  font-size: 16px;
  font-family: "Noto Sans KR", "Roboto";
  width: 100%;
  padding: 13px 10px;
  border-radius: 8px;
}

.signup-input-span span {
  position: absolute;
  top: -13px;
  left: 10px;
  background-color: white;
  padding: 5px;
}

.signup-input-box {
  display: grid;
  width: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.signup-input-span:first-child {
  grid-column: 1 / 4;
}

.signup-input-span:nth-child(5) {
  grid-column: 1 / 4;
}

.signup-input-span:last-child {
  grid-column: 1 / 4;
}

.signup button {
  width: 150px;
  height: 50px;
  background-color: #569bf6;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
